# 🎀 基本の設定
.env
.env.sample
__pycache__/
*.py[cod]
*$py.class
.venv/
.venv/*
venv/
venv/*

# 📂 お宝（ダウンロード画像）
downloads/
downloads/*

# 🛡️ 秘匿情報（絶対に公開禁止！）
session.json
s-nitori.com.har
*.har
*.json_debug
api_success_headers.json

# 📑 OS・エディタ関連
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
Thumbs.db
